{{#each exercises as |exercise|}}
{{log 'this' this}}
<div class="col">
  <div class="card shadow-sm">
   <div class="card-body">
      {{#if name}}<p class="card-header">{{name}}</p>{{/if}}
        <p class="card-text">
          <ul class="list-group"></ul>
      {{#if equipment}} <li class="list-group-item">Equipment: {{equipment}}</li>{{/if}}
      {{#if category}} <li class="list-group-item">Category: {{category}}</li>{{/if}}
      {{#if type}} <li class="list-group-item">Type: {{type}}</li>{{/if}}
      {{#if muscle}} <li class="list-group-item">Muscle: {{muscle}}</li>{{/if}}
      {{#if sets}} <li class="list-group-item">Sets: {{sets}}</li>{{/if}}
      {{#if reps}} <li class="list-group-item">Reps: {{reps}}</li>{{/if}}
      {{#if weight}} <li class="list-group-item">Weight: {{weight}}</li>{{/if}}
      {{#if distance}} <li class="list-group-item">Distance: {{distance}}</li>{{/if}}
      {{#if duration}} <li class="list-group-item">Duration: {{duration}}</li>{{/if}}
          </ul>
        </p>
      </div>
    </div>
  </div>
{{/each}}